@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

--paper-color: #f0ece1;
--line-color: #aeaaa7;

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 30px;
  height: 100vh;
  font-family: "Architects Daughter", cursive;
  /*   background-image: url("img/jeshoots-com-pUAM5hPaCRI-unsplash.jpg"); */
  background-image: url("https://images.unsplash.com/photo-1518655048521-f130df041f66?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

.notepad {
  width: 80%;
  max-width: 650px;
  /*  transform: rotateY(40deg); */
}

.header {
  width: 600px;
  background: #3e3e3e;
  height: 60px;
  display: flex;
  border-radius: 5px 5px 0 0;

  padding: 20px 40px;
  transition: all 0.2s;
}

#title {
  flex: 0 0 60%;
  margin-right: 4.5rem;
  transform: skewX(-20deg);
  color: #f0ece1;
}

#search-text {
  background: #838080;
  flex: 1;
  text-align: center;
}

::placeholder {
  color: #f0ece1;
  opacity: 1;
  font-size: 16px;
  letter-spacing: 2px;
  transform: skewX(-20deg);
}

#search-text:focus {
  border: none;
  outline: none;
}

.paper {
  /*  width: 100%;
  height: 100%; */
  width: 600px;
  height: 450px;
  background: repeating-linear-gradient(
    #f0ece1,
    #f0ece1 25px,
    #aeaaa7 25px,
    #aeaaa7 26px
  );
  padding: 35px 40px;
  font-family: "" Architects Daughter ", cursive;";
}

.notes {
  line-height: -25px;
}

.noteStyle {
  text-transform: capitalize;
  font-size: 1.5rem;
}
