@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

$paper-color: #f0ece1;
$line-color: #aeaaa7;

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 30px;
  height: 100vh;
  font-family: "Architects Daughter", cursive;
  /*   background-image: url("img/jeshoots-com-pUAM5hPaCRI-unsplash.jpg"); */
  background-image: url("img/jeshoots-com-pUAM5hPaCRI-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

.notepad {
  width: 80%;
  max-width: 650px;
  transform: rotateY(40deg);
}

.header {
  width: 600px;
  background: #3e3e3e;
  height: 60px;
  display: flex;
  border-radius: 5px 5px 0 0;

  padding: 35px 40px;
  transition: all 0.2s;
}

#title {
  flex: 0 0 60%;
  margin-right: 4.5rem;
  transform: skewX(-20deg);
}

#search-text {
  background: #ccc;
  flex: 1;
  text-align: center;
}

#search-text:focus {
  border: none;
}

.paper {
  /*  width: 100%;
  height: 100%; */
  width: 600px;
  height: 450px;
  background: repeating-linear-gradient(
    #f0ece1,
    #f0ece1 25px,
    #aeaaa7 25px,
    #aeaaa7 26px
  );
  padding: 35px 40px;
  font-family: "" Architects Daughter ", cursive;";
}

.notes {
  line-height: -25px;
}

.noteStyle {
  text-transform: capitalize;
  font-size: 1.5rem;
}
